<h1 class="mt20">Questions of {{qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button 
                [routerLink]="'/admin/add-question/'+qId+'/'+qTitle"
                mat-raised-button color="primary">Add Question</button>
            </div>
            <mat-card *ngFor="let q of questionList; let i = index" class="mt20">
                <mat-card-content>
                    <p>
                        <b>Question {{i+1}} : </b> <span [innerHTML]="q.content"></span>
                    </p>

                    <div class="container-fuid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>a)</b> {{q.option1}}</p>    
                            </div>
                            <div class="col-md-6">
                                <p><b>b)</b> {{q.option2}}</p>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>c)</b> {{q.option3}}</p>    
                            </div>
                            <div class="col-md-6">
                                <p><b>d)</b> {{q.option4}}</p>    
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                       <div class="mt10">
                        <p ><b>Correct Answer : </b> {{q.answer}}</p>
                       </div>
                       <button mat-flat-button color="primary">
                        <mat-icon mat-list-icon>edit</mat-icon>
                        </button>
                       <button 
                      (click)="deleteQuestion(q.id)"
                       class="ml10"mat-flat-button color="warn"
                       
                       >
                        <mat-icon mat-list-icon>delete</mat-icon>
                       </button>
                  
                    </div>
                   

                </mat-card-content>
            </mat-card>

           
        </div>
    </div>
</div>