<mat-card>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <h1>Add New Categories</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="" (ngSubmit)="formSubmit()">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input autofocus type="text" name="title" matInput
                                [(ngModel)]="category.title"    
                                placeholder="Enter Title For Category" required>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea type="text" 
                                [(ngModel)]="category.description"   
                                name="description" matInput rows="10"
                                    placeholder="Enter Description For Category"></textarea>
                            </mat-form-field>

                            <div class="mr20">
                                <button mat-raised-button color="primary">Add Category</button>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>