/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Noto+Sans:wght@200&display=swap');

html, body { height: 100%; }
body { margin: 0; 
    font-family: sans-serif; background: #F5F5F5;}


.text-center{
    text-align: center;
}

.exam-logo{
    margin-top: 5px;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
}


.full-width{
    width: 70%;
}

.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml10{
    margin-left: 10px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}


.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.example-header-image {
    background-image: url('assets/ideas.png');
    background-size: cover;
  }