/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; background: #F5F5F5;}


.text-center{
    text-align: center;
}

.exam-logo{
    margin-top: 5px;
    height: 25vh;
    width: 25vh;
    border-radius: 60px;
}


.full-width{
    width: 70%;
}

.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}